body{
   font-family: 'Open Sans, sans-serif'
}

a {
    text-decoration: none;
    color: grey;
}
img{
     max-width: 100%;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: grey;
}

#gallery li a p{
margin: 0;
padding: 5%;
font-size: 0.75em;
color: black;
}

body {
    color: green;
}
#wrapper {
    max-width:940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo{
    text-align: center;
    margin: 0;
}
header{
    background-color: grey;
}

h1,h2{
    color: whitesmoke;
}

nav{
    background: black;
}

nav ul{
list-style: none;
padding: 10px 0;
margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
}

nav a,nav a:visited{
    color:white;
}

nav a.selected, nav a:hover{
    color: black;
}

h1{
    font-family: 'Denk One', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}
h2{
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: grey;
    clear: both;
}

.socialmediaicon{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

.profile-photo{
    display: block;
    max-width:0 auto 30px;
    border-radius: 15%;
}

h3{
    margin: 0 0 1em 0;
}

.contact-info li.email a{
    background-image: url('../img/email.png')
}

.contact-info li.instagram1 a{
    background-image: url('../img/instagram1.png')
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

@media screen and (min-width: 480px){
    #primary{
        width: 50%;
        float: left;    
    }
    #secondary{
        width: 40%;
        float: right; 
}
#gallery li{
    width: 28.3333%;
 }   
 #gallery li:nth-child(4n){
     clear: left;
 }
 .profile-photo{
     float: left;
     margin: 0 5% 80px 0;
 }
}

@media screen and (min-width:660px){
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header{
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}